<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>
    
	<appender name="SERVER" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <!-- <file>${catalina.base}/lifix.log</file>  -->
	    <file>algamoney/algamoney.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <!-- rollover daily -->
	        <!-- <FileNamePattern>${catalina.base}/lifix.%d{yyyy-MM-dd}.log.gz</FileNamePattern> -->
	        <FileNamePattern>algamoney/algamoney.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
	    </rollingPolicy>
	    <encoder>
	        <Pattern>[#|%-5level| date=%d{yyyy-MM-dd} time=%d{HH:mm:ss.SSS} thread=%thread class=%logger{1} %msg |#]%n</Pattern>
	    </encoder>
	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[#|%-5level| date=%d{dd-MM-yyyy} time=%d{HH:mm:ss.SSS} thread=%thread class=%logger{1} %msg |#]%n</Pattern>
		</layout>
	</appender>
	
	<logger name="org.hibernate" level="INFO" />
	<logger name="org.springframework.ws.client.MessageTracing" level="TRACE" />
    <logger name="org.springframework.security" level="OFF" />
    <logger name="br.com.techunion" level="TRACE" />
  	
	<root level="INFO">
		<appender-ref ref="SERVER" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>